.button {
    background-color: #666;
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.ws-dashboard {
    align-self: center;
    margin: 1em auto auto;
    width: 80%;
}

.ws-dashboard div {
    width: 23%;
    margin: 1%;
    float: left;
    font-size: 200%;
}

.ws-dashboard div.label {
    text-align: right;
}