<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visualization</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/index.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css" />
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
</head>
<body>
<div id="fetch" class="button">Fetch</div>
<div id="output"></div>
<div>
    <button id="buttonAllInTime">All in time</button>
    <button id="buttonBestInTime">Best in time</button>
    <button id="buttonBestOfAll">Best of all</button>
    <button id="buttonTable">Table</button>
    <button id="buttonLogs">Pure logs</button>
</div>
<div id="chartAllInTime"></div>
<div id="chartBestInTime" style="display: none;"></div>
<div id="chartBestOfAll" style="display: none;"></div>
<table id="tableOutput" class="ws-dashboard">
    <thead>
        <tr>
            <th class="label">Worker:</th>
            <th class="label">Time:</th>
            <th class="label">Fitness:</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<div id="ws-output"></div>
<script src="/charts.js"></script>
<script src="/chartAllInTime.js"></script>
<script src="/chartBestInTime.js"></script>
<script src="/chartBestOfAll.js"></script>
<script src="/index.js"></script>
</body>
</html>